.b-search {
  border-bottom: 1px solid $silver-base;
}

.b-search__input {
  width: 264px;

  padding: 0 5px 0 5px;

  border: 0;
  outline: none;

  @include headline-1($text-color-search, 100);
  text-align: center;

  -webkit-appearance:none;
}
