**/node.modules/*
**/src/actions/*
**/src/containers/*
**/src/Modules/*
**/src/reducers/*
**/src/store/*

**/store/*

**/src/index.js
**/src/db.js
**/src/routes.js


**/src/Elements/e-color-details-nav.js
**/src/Elements/e-color-swatch-small.js
**/src/Elements/e-input-percentage.js
**/src/Elements/e-input-search.js
**/src/Elements/e-search-nav-button.js

**/src/components/app.js
**/src/components/color-complimentary.js
**/src/components/color-details-accessability.js
**/src/components/color-details-complimentary.js
**/src/components/color-details-functions.js
**/src/components/color-details-header.js
**/src/components/search.js


**/Styles_JS/*
