.color-search {
  display: flex;
  justify-content: center;

  width: 100%;

  margin: 60px 0 60px 0;

  &:after {
    content: '';

    position: relative;

    width: 20px;
    height: 20px;

    top: 30px;
    left: -310px;

    border-radius: 50%;

    @include icon($close-icon, 8px, center);
    opacity: 0.5;
  }
}
