@import '/Core/reset';
@import './Core/variables';
@import './Elements/element-color';
@import './Elements/element-section-header';
@import './Elements/element-search-bar';
@import './Components/component-list';
@import './Layout/section-color-search';

$main-color: hsl(215, 100%, 50%);

body {
  background-color: #fff;
  color: #666;
}
