.b-colors-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.b-colors-details__wrapper {
  display: block;
  margin-left: 120px;
}

.b-color-details-all__wrapper {
  margin-top: 130px;
}
