.list-item-color {
  display: block;
  position: relative;

  height: 170px;
  width: 140px;

  margin: 0 0 30px 30px;

  border-radius: 3px;

  box-shadow: 3px 3px 8px rgba(191,191,191,.3);

  font-family: 'Proxima Nova';
  color: $main-text;

  list-style: none;
}

.color-swatch {
  display: flex;
  align-self: center;

  height: 100px;
  width: 140px;

  //background-color is set by javascript

  border-bottom: 1px solid; // border-color is set by javascript

  border-radius: 3px 3px 0 0;
}

.color-percentage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 24px;
  width: 24px;

  margin: 4px;

  background-color: #fff;

  border-radius: 20px;

  color: #777;
  font-size: 10px;
}

.list-colors-codes {

  margin: 0;
  padding: 4px 0 4px 8px;

  font-weight: 300;
  font-size: 12px;

  list-style-type: none;

  > li {
    margin-top: 6px;

    text-align: left;
  }
  >:first-of-type{
    font-weight: 600;
  }
}
